/* Footer */
footer {
  background: #f7f7f8;
  border-top: 1px solid #f0f0f0;
  padding: 6rem 3rem 3rem;
}

.footer-content {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.footer-section h3 {
  color: #020202;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 1rem;
}

.footer-section ul li a {
  color: #303030;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.2s ease;
}
.footer-section p {
  width: 80%;
  color: #737373;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s ease;
}

.footer-section ul li a:hover {
  color: #0f0f0f;
}

.footer-bottom {
  border-top: 1px solid #f0f0f0;
  margin-top: 4rem;
  padding-top: 3rem;
  text-align: center;
  color: #a3a3a3;
  font-size: 13px;
}
