/* Footer */
footer {
  background-color: black;
  /* background: #f7f7f8; */
  /* border-top: 1px solid #f0f0f0; */
  padding: 6rem 3rem 3rem;
}

.footer-content {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.footer-section h3 {
  color: white;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 1rem;
}

.footer-section ul li a {
  /* color: #303030; */
  /* color: #737373; */
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.2s ease;
}
.footer-section p {
  width: 80%;
  color: whitesmoke;
  /* color: #737373; */
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s ease;
}

.footer-section ul li a:hover {
  color: rgb(189, 189, 189);
}

.footer-bottom {
  /* border-top: 1px solid #4a4a4a; */
  margin-top: 4rem;
  padding-top: 3rem;
  text-align: center;
  color: white;
  font-size: 13px;
}
